{{> header }} 

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>El principito</h1>
        <p>"He aquí mi secreto: solo con el corazón se puede ver bien. Lo esencial es invisible a los ojos".</p>
    </div>

    <div class="col-4">
        <img src="assets/img/descarga.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}